@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --green: #c5f82a;
    --white: #ffffff;
    --grey-700: #333333;
    --grey-800: #1f1f1f;
    --grey-900: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--grey-900);
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 450px;
    height: 700px;
    border-radius: 10px;
    background-color: var(--grey-800);
}
.profile-image{
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.profile-image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.profile-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profile-info h1{
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;

    color: var(--white);
}
.profile-info p{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center; 
    color: var(--green);
}
.profile-description{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center; 
    color: var(--white);
}
.profile-links{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.profile-link{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--grey-700);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.profile-link:hover{
    background-color: var(--green);
    color: var(--grey-900);
}
.profile-link:active{
    background-color: var(--green);
    color: var(--grey-900);
}
.profile-link:focus{
    background-color: var(--green);
    color: var(--grey-900);
}
footer{
    text-align: center;
   display:relative;
    color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    background-color: var(--grey-800);
    padding: 10px;
    border-radius: 10px;
}
footer a{
    text-decoration: none;
    color: var(--green);
}
footer a:hover{
    color: var(--white);
}

@media (max-width: 768px){
    .container{
        width: 100%;
        max-width: 375px;
    }   
    .profile-image img{
        width: 80px;
        height: 80px;
    }
    .profile-info h1{
        font-size: 24px;
    }
    .profile-info p{
        font-size: 14px;
    }
    .profile-description{
        font-size: 14px;
    }
    .profile-link{
        font-size: 14px;
    }
    .profile-link:hover{
        color: var(--white);
    }
}
@media (max-width: 375px){
    main{
        height: 100%;
        padding: 20px;
    }
    .container{
        width: 100%;
        
        margin-bottom: 50px;
        margin-top: 50px;
        
     
   
  
     
     
    }
    .profile-image img{
        width: 70px;
        height: 70px;
    }
    .profile-info h1{
        font-size: 22px;
    }
    .profile-info p{
        font-size: 13px;
    }
    .profile-description{
        font-size: 13px;
    }
    .profile-link{
        font-size: 13px;
        width: 90%;
        gap: 1px !important;
    }
    .profile-link:hover{
        color: var(--white);
    }
    footer{
       display: none;
    }
    footer a{
        font-size: 12px;
    }
    footer a:hover{
        color: var(--white);
    }
}
